:root {
    --header-color: #8E9AAF;
    --project-section-color: #CBC0D3;
    --todo-section-color: #FEEAFA;
}

@font-face {
    font-family: 'Yatra One';
    src: url(../dist/fonts/YatraOne-Regular.ttf);
}

@font-face {
    font-family: 'Merriweather';
    src: url(../dist/fonts/Merriweather-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--todo-section-color);
}

.todo-app {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background: var(--header-color);
    font-family: 'Yatra One';
    font-size: 2.5rem;
    padding: 40px 0;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    /* border: 1px solid #000; */
    z-index: 5;
}

.container {
    width: 100%;
    height: calc(100vh - 7vh);
    display: grid;
    /* grid-template-columns: 1.3fr 5fr; */
    grid-template-columns: minmax(17rem, 1fr) 4fr;
}

.project-container {
    grid-column: 1 / 2;
    background: var(--project-section-color);
    padding: 50px 40px 0;
}

.todo-container {
    position: relative;
    grid-column: 2 / 3;
    background: var(--todo-section-color);
}

.project {
    font-size: 23px;
    font-family: 'Merriweather';
    font-weight: 600;
    padding: 10px 25px;
    margin: 7px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.created-projects h1 {
    margin-top: 20px;
    font-size: 2.5rem;
}

.created-projects .create-new-project-btn {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 23px;
    text-align: center;
    border: 1px solid #000;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 7px 0;
    border-radius: 5px;
    cursor: pointer;
    background: var(--project-section-color);
    transition: 0.3s ease-in-out;
}

.created-projects .create-new-project-btn:hover, .project:hover, .new-project:hover {
    background: #b0a0bb;
}

.add-project-icon {
    font-size: 20px;
    padding-right: 10px;
}

.new-projects-container {
    padding-top: 20px;
    max-height: 25rem;
    /* border: 1px solid #000; */
    overflow-y: auto;
}

.new-projects-container::-webkit-scrollbar {
    width: 10px;
}

.new-projects-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--header-color);
}

.new-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin: 7px;
    font-size: 23px;
    cursor: pointer;
    width: 95%;
    border-radius: 5px;
}

.fa-trash {
    display: none;
}

.new-project:hover .fa-trash {
    display: block;
}

.modal {
    position: absolute;
    inset: 0;
    margin: auto;
}

.add-project-modal-window {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 5em;
}

.add-project-modal-window .add-project-name {
    font-size: 1.3rem;
    padding: 0.3em;
    border: none;
    border-bottom: 1px solid #000;
    font-family: 'Merriweather';
}

.add-project-modal-window .add-project-name:focus {
    /* -webkit-appearance: none; */
    outline-color: transparent;
    border-bottom: 2px solid #000;
}

.add-project-window-btns {
    display: flex;
    justify-content: space-between;
}

.name-project-btn {
    padding: 0.5em 1em;
    font-size: 1.1rem;
    min-width: 5.5em;
    font-family: 'Merriweather';
    font-weight: 600;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5px;
}

.name-project-btn:first-of-type {
    background: var(--project-section-color);
}

.name-project-btn:nth-of-type(2) {
    background: var(--project-section-color);
}

.items {
    width: 70%;
    margin-inline: auto;
    padding: 2em 0;
}

.todo-container {
    overflow-y: auto;
}

.todo-container::-webkit-scrollbar {
    width: 10px;
    padding-left: 15px;
}

.todo-container::-webkit-scrollbar-thumb {
    background: var(--header-color);
    border-radius: 10px;
}

.todo-item {
    font-size: 1.35rem;
    padding: 1.3em;
    margin: 1em 0;
    border-radius: 0.3em;
    background: #ede0d4;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.todo-item:hover {
    transform: scale(1.03);
}

.todo-item {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 0.5);
}

.todo-item .fa-pen-to-square, .todo-item .fa-delete-left {
    cursor: pointer;
}

.todo-item .wrap-todo-item {
    display: flex;
    gap: 1em;
    align-items: center;
}

.todo-item .options {
    display: flex;
    gap: 1em;
}

.wrap-todo-item label {
    position: relative;
}

.wrap-todo-item input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background: var(--header-color);
    width: 1rem;
    height: 1rem;
    box-shadow: 2px -2px rgb(0 0 0 / 0.7);
    /* box-shadow: 2px -2px var(--project-section-color); */
    transition: all 0.3s ease-in-out;
}

.wrap-todo-item input[type="checkbox"]:checked {
    position: absolute;
    /* width: 50%; */
    width: 5em;
    height: 1.5px;
    background: #000;
    opacity: .3;
    box-shadow: none;
}

.wrap-todo-item input[type="checkbox"]:checked + label {
    opacity: .5;
    text-decoration: line-through;
}

.add-task-btn-container {
    position: fixed;
    bottom: 4em;
    right: 4em;
}

.create-new-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--header-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    padding: 3em;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.7);
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.create-new-task-btn:hover, .create-new-task-btn:hover .add-todo-icon {
    transform: scale(1.1);
}

.add-todo-icon {
    font-size: 2.3rem;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}